@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

body {
   --angle: 0deg;
   background: linear-gradient(var(--angle), #0d1b2a, #a4161a, #ffb703);
   background-attachment: fixed;
   animation: rotateGrad 24s linear infinite;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   width: 80%;
   margin: 5px auto 0px auto;
}

@keyframes rotateGrad {
  to { --angle: 360deg; }
}

h1,
h2,
h3 {
   color: #1c1c1c;
}

main {
   display: flex;
   flex-wrap: wrap;
   align-items: stretch;
   gap: 5px;
   /*padding-inline: 10px;*/
   color: #495057;
}

.box {
   background-color: #f8f9fa;
   border-radius: 20px;
   padding: 10px 20px;
   border-color: #1b263b;
   border-style: solid;
   border-width: 5px;
}

main > section.box {
   flex: 0 0 calc(50% - 5px);
   box-sizing: border-box;
}

img {
   border-radius: 10px;
   border-style: solid;
   border-color: #002a6d;
}

.icon {
   border-style: none;
   width: 20px;
   margin: 0px 0px -5px 0px;
}

#nav {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

a {
   color: #a4161a;
}

a:hover {
   color: #ffb703;
}

a:active {
   color: #0d1b2a;
}

@media (max-width: 1024px) {
   main {
      display: block;
   }
}
